body,
html {
  font-size: 0.16rem;
  background: #f8f8f8;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

#video {
  height: 2.36rem;
}
.nav-box {
  height: 0.44rem;
  background: #ffffff;
  display: flex;
  padding: 0 0.1rem;
  display: flex;
  align-items: center;
}
.nav-item {
  flex: 1;
  height: 0.34rem;
  border-bottom: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bab3bb;
  margin: 0 3px;
  font-size: 0.14rem;
}
/* .nav-box .nav-item:nth-child(2){
  border-left: 1px solid #E6E6E7;
  border-right: 1px solid #E6E6E7;
  margin: 0 3px;
} */
.nav-item-active {
  border-bottom: 2px solid #5b4f78;
  color: #5b4f78;
}
.nav-item-img {
  width: 0.2rem;
  height: 0.2rem;
  margin-right: 3px;
}
.content-box {
  height: 50vh;
  /* height: 58vh; */
  display: none;
  overflow: scroll;
}
#content .content-box:nth-child(1) {
  display: block;
}
#pay-wrap {
  width: 3.3rem;
  height: 3.5rem;
  background: #ffffff;
  opacity: 1;
  border-radius: 0.09rem;
  margin: 0.12rem auto 0 auto;
  overflow: hidden;
}
.pay-title {
  margin: 0.18rem auto 0.11rem auto;
  text-align: center;
  font-size: 0.17rem;
}
.pay-code {
  display: block;
  margin: 0.11rem auto;
  width: 1.87rem;
  height: 1.87rem;
}
.pay-text {
  text-align: center;
  font-size: 0.15rem;
}
.pay-btn {
  width: 2.02rem;
  height: 0.44rem;
  background: #5a4e77;
  border-radius: 0.22rem;
  text-align: center;
  line-height: 0.44rem;
  margin: 0 auto;
  color: white;
}

#mask-box {
  position: absolute;
  z-index: 100;
  max-width: 77vw;
  height: 1rem;
  bottom: 0.9rem;
  left: 0.08rem;
  overflow: hidden;
}

#mask-wrap {
  position: relative;
  top: 0;
}
.mask-item {
  display: flex;
  color: white;
  font-size: 0.14rem;
  margin-bottom: 0.05rem;
}
.mask-item-text {
  display: block;
  background: #3a3a3a;
  box-shadow: 0px 0.03rem 0.06rem rgba(0, 0, 0, 0.03);
  opacity: 0.55;
  border-radius: 0.2rem;
  padding: 0.05rem;
}
#mask-switch {
  color: white;
  width: 0.4rem;
  font-size: 0.12rem;
  padding: 0.01rem 0.05rem;
  border-radius: 0.5rem;
  position: absolute;
  right: 0.1rem;
  bottom: 1rem;
}
#mask-switch img {
  width: 100%;
  height: 100%;
}
/* add */
#msg-box {
  margin: 0.3rem;
  overflow: hidden;
  position: relative;
}
.flex {
  display: flex;
}
.left {
  margin-left: 0.1rem;
}
.right {
  /* margin-left: 52%; */
  margin-right: 2%;
}
.imgright {
  margin-left: 23%;
}
.audioright {
  margin-left: 53%;
}
.fr {
  float: right;
}
.fl {
  /* float: left; */
  float: right;
}
.tr {
  text-align: right;
}
.admin-color {
  background: white;
}
.user-color {
  background: #5b4f78;
  color: white;
}
.user-photo {
  width: 0.43rem;
  height: 0.43rem;
  display: inline-block;
  border-radius: 50%;
}
.msg-wrap {
  display: inline-block;
}
.user-name {
  font-size: 0.12rem;
}
.msg-text {
  font-size: 0.16rem;
  /* height: 0.36rem; */
  /* line-height: 0.36rem; */
  border: 1px solid rgba(112, 112, 112, 0.0588235294117647);
  border-radius: 0.05rem;
  text-indent: 0.1rem;
  padding: 0.05rem;
  font-size: 0.13rem;
  max-width: 75vw;
}
.msg-img {
  width: 2.02rem;
  height: 1.99rem;
}
.audio {
  visibility: hidden;
}
.audio-box {
  width: 1.4rem;
  height: 0.34rem;
  line-height: 0.34rem;
  background: white;
  border-radius: 0.05rem;
  font-size: 0.12rem;
  /* text-align: center; */
  color: #5b4f78;
  display: flex;
  align-items: center;
  padding: 0 0.08rem;
}
.right_audio {
  transform: rotate(180deg);
}
.send-box {
  height: 8vh;
  background: #ffffff;
  display: none;
}
.send-box-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
}
.send-icon {
  width: 0.3rem;
  height: 0.3rem;
}
.inputele {
  display: inline-block;
  width: 2.43rem;
  height: 0.34rem;
  outline: none;
  background: #f3f3f3;
  border: none;
  border-radius: 4px;
  text-indent: 0.1rem;
  margin: 0 0.1rem;
  font-size: 0.14rem;
}
.send-btn {
  width: 0.63rem;
  height: 0.34rem;
  background: #5b4f78;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  line-height: 0.34rem;
}
.fnbox {
  height: 1rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.fnbox img {
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 0.2rem;
}
.fnbox p {
  text-align: center;
}
.icon-box {
  height: 1rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.icon-box li {
  list-style: none;
  float: left;
  margin-left: 0.1rem;
}
button {
  outline: none;
  font-size: 0.16rem;
}
#yy {
  position: relative;
}
#yymask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
}

#yyshow {
  width: 1.6rem;
  height: 0.4rem;
  /* background: white; */
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  margin-left: -0.8rem;
  margin-top: -0.2rem;
  line-height: 0.4rem;
  display: flex;
  align-items: center;
  font-size: 0.12rem;
  box-shadow: 0px 0.03rem 0.06rem rgb(0 0 0 / 3%);
  /* opacity: 0.55; */
  display: none;
  text-align: center;
}
.admin-tip {
  color: silver;
}
.sysinfo {
  height: 0.3rem;
  line-height: 0.3rem;
  background: silver;
  color: white;
  border-radius: 0.05rem;
  text-align: center;
  width: 90vw;
  margin: 0.1rem auto;
  font-size: 0.13rem;
}
.cancel1,
.cancel {
  width: 1.6rem;
  height: 0.4rem;
  font-size: 0.12rem;
  box-shadow: 0px 0.03rem 0.06rem rgb(0 0 0 / 3%);
  text-align: center;
  margin-top: 10px;
  background: #5b4f78;
  color: wheat;
}
.img-box {
  padding: 0.05rem;
  background: white;
  box-shadow: 0px 0.03rem 0.06rem rgb(0 0 0 / 3%);
  border-radius: 0.05rem;
}
#img-show {
  position: absolute;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background: black;
  top: 0;
  left: 0;
  align-items: center;
  display: none;
}
#show-img-item {
  width: 100vw;
  height: 70vh;
}
/* add */
.watch-wrap{
  padding: 3px 5px;
  position: absolute;
  top: 10px;
  z-index: 999;
  right: 20px;
  color: white;
  background: black;
  opacity: 0.5;
  font-size: 0.12rem;
  border-radius: 0.1rem;
}
.remove-tag{
  background: black;
  opacity: 0.5;
  color: white;
  font-size: 0.12rem;
  border-radius: 0.05rem;
  width: 0.5rem;
  height: 0.2rem;
  text-align: center;
  line-height: 0.2rem;
  margin-top: 0.08rem;
  clear: both;
}